.header {
    width: 100vw;
    height: 40vh;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.search {
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
}

h1 {
    flex-direction: column;
    color: rgb(138, 91, 30);
    font-size: 2.6rem;
}

.launch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

input {
    width: 40vw;
}

.search-button{
    background-color: forestgreen;
    color: white;
}


.suggestions {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: white;
}

.suggestion {
    border-style: outset;
    width: 39.9vw;
}

.suggestion:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.search-results {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border: black;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.results:hover {
    text-decoration: none;
}

.search-results a {
    display: flex;
    text-decoration: none;
    width: 400px;
    color: black;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.237);
    border-radius: 15%;

}

.search-results a:hover {
    background-color: lightblue;
    text-decoration: none;
    color: black;
}